.main-nav.center{
    background-color: transparent;
    color: #A59572;
    height: auto;
    padding-top: 1vw;
    position: absolute;
}

.main-nav.center .relative .absolute{
    cursor: pointer;
    z-index: 9999;
}

.main-nav.center .relative .absolute{
    right: 0;
    bottom: 0;
    display: flex;
    cursor: pointer;
    padding-right: 1vw;
    color: burlywood;
}

.main-nav.center .relative .absolute i{
    margin-top: 0.3vw;
    color: burlywood;
}

.main-nav.center.nav-fixed .relative .absolute{
    right: 0;
    bottom: 0;
    color: #A59572;
    display: flex;
    cursor: pointer;
    padding-right: 1vw;
    color: #A59572;
}

.main-nav.center.nav-fixed .relative .absolute i{
    margin-top: 0.3vw;
    color: #A59572;
}


.main-nav.center img.logo{
    width: 8vw;
    transition: 1s;
}

.sidenav-trigger.main-nav-mobile{
    display: none;
}

.main-text{
    font-size: 3vw;
    text-align: left;
}

.sub-main-text{
    font-size: 3vw;
    text-align: left;
}

.main-nav.center.nav-fixed{
    position: fixed;
    background-color: white;
    height: 6vw;
    transition: 1s;
}

.main-nav.center.nav-fixed img.logo{
    width: 4vw;
    transition: 0.4s;
}

.main-nav.center.nav-normal{
    position: '';
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .main-nav.center{
        display: none;
    }
    .sidenav-trigger.main-nav-mobile{
        display: block;
        position: absolute;
        color: #A59572;
        z-index: 9999;
    }
    #slide-out.sidenav div.footer-social{
        padding-left: 2vw;
        display: flex;
        position: absolute;
        bottom: 0;
        margin-bottom: 18vw;
        left: 0;
    }
}
