.row.col.l12.m12.s12 .text-align-center .material-icons.dp48.medium {
    color: #A59572;
    position: absolute;
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.row.col.l12.m12.s12.arrow{
    top: 0;
    margin-top: -2vw;
    height: 3vw;
}

.main-text{
    font-family: "Montserrat";
    font-size: 3vw;
    text-align: left;
}

.sub-main-text{
    font-family: "Raleway";
    font-size: 1vw;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .row.col.l12.m12.s12 .text-align-center .material-icons.dp48.medium {
        display: none;
    }

    .main-text{
        font-size: 4vw;
        text-align: center;
    }

    .sub-main-text{
        font-size: 2vw;
        text-align: center;
    }

    .row.col.l12.m12.s12.arrow{
        display: none;
    }

}


@keyframes slidein {
    from {
        margin-top: 2%;
    }

    to {
        margin-top: 0%;
    }
}
